.btn
{
    position:relative;
    top: -4px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    font-family: "Calibri";
    color: white;
    background-color:black;
    padding: 4px;
}
.btn:hover
{
    background-color:white;
    color: black;
    cursor:pointer;
}

.cw
{
    position:absolute;
    left:50px;
    top: 250px;
    font-size: 18px;

}
.btn2
{
    position: relative;
    left: -8px;
    color:white;
    background-color: dodgerblue;
    height: 20px;
    width: 65px;
    border-color:deepskyblue;
    border-style:solid
}
.btn3
{
    color:black;
    background-color: white;
    height: 20px;
    width: 65px;
    border-color:ghostwhite;
    border-style:solid
}
