.container-2{
    display:flex;
      flex-basis: 100%;
      margin-left: 1rem;
    

}
.ctn1-left{
    max-width:70%;
    font-size:2.5rem;
    margin-top: 2.5rem;
  
}
.ctn1-right{
    margin-left: 7rem;
    margin-right: 2rem;
    margin-top: -1rem;
}
.btn5{
    margin-top: -2rem;
    font-family: sans-serif;
    font-size: 1.5rem;
    height: 3rem;
    width: 8.5rem;
    background-color: rgb(11, 81, 243);
    color: white;
    border:none;
}
.btn5:hover{
    background-color: black;
    color:white;
    cursor: pointer;
}