
.img1
{
    position: relative;
    left:0%;
    top: -80%;
    border: 1px solid blue;

}
body
{
    margin: 20px;
    height: 100;
    max-width: 80%
}
html
{
    height: 100;
    max-width: 80%
}
.nav1
{
    position: relative;
    top:20px;

}