.section-4{
    background-color: black;
    color:white;
    font-family:sans-serif;
    margin-left:-5rem;
    margin-right:-5rem;
    margin-top:2rem;
    padding:1rem;
}

.s4h1{
    font-size:5rem;
    font-family:sans-serif;
    position: relative;
    top:-1rem;
    left:6rem;
}
.s4i1{

    display:flex;
    flex-basis:100%;
    font-size: 3rem;
    position: relative;
    top:-5rem;
    left:10rem;
}
.imgs4{
    position: relative;
    top:5rem;
}
.s4p1{
    position:relative;
    top:-7.5rem;
    left:14rem;
    max-width:60%;
    font-size:1.0rem;
    color: rgb(169, 169, 183);
}
.checked{
    color:yellow
}
.stars{
    font-size:1rem;
    position:relative;
    top:7rem;
    left:-25.2rem;
}

.stars1{
    font-size:1rem;
    position:relative;
    top:7rem;
    left:-23.8rem;
}