.split-1{
    display:flex;
    font-size:3rem;
    margin-left:1rem;
    font-family: sans-serif;

}

.Arrow{
    border-radius: 100%;
    border: 0.2rem solid black;
    margin-left: 2rem;
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    padding-bottom: 0.2rem;
    padding-right: 0.5rem;
    font-size:1.5rem;
    height:2rem;
    width:1.7rem;
    margin-top:5.2rem;     
}
.split-1{
    padding:1rem;
}

.split-21, .split-22{
    position: relative;
    left: 1.5rem;
    padding:2rem;
    display:flex;
    font-size:2rem;
    font-family:sans-serif;
    max-width:90%;
}
.s221, .s211, .s212, .s222{
    padding: 1rem;

}
.s212{
    position: relative;
    left:10rem;
}
.s222{
    position: relative;
    left: 13.4rem;
}

@media(max-width:60rem){
    .split-21, .split-22{
        flex-direction: column;
    }
    .s222{
        position: relative;
        left:0rem;
    }
    .s212{
        position: relative;
        left:0rem;
    }
    .split-21,.split-22{
        width: 60%;
        height: 150%;
    }
    
}