h1
{
    position: relative;
    left: 30px;
    top: 30px;
    font-size: 48px;
    font-family: "Calibri";

}
.line1
{
    position: relative;
    color: #BCC6CC;
    left: 35px;
    top: 10px;
    font-family: "Calibri";

}
.Header
{   
    
    font-family: "Calibri";
    font-size: 18px;
}
.H1
{
    position: absolute;
    top: 0px;
    left: 700px;
    display: flex;
    justify-content:center;

}