h1
{
    position: relative;
    left: 0%;
    top: -100px;
    font-size: 72px;
    font-family: "Calibri";

}
.line1
{
    position: relative;
    color: #BCC6CC;
    left: 0%;
    top: -130px;
    font-size: 22px;
    font-family: "Calibri";

}
.Header
{   
    
    font-family: "Calibri";
    font-size: 22px;
}
.nav2
{
    position: relative;
    top:-70px;
    right: -43%;
    display:flex;
    justify-content:center;

}
.p1
{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    height: 30%;
}
.Bigfont1
{   
    position: relative;
    font-family: Arial;
    font-size: 80px;
    right: -85%;
    top: -10%;
}
.Bigfont2
{
    position: relative;
    font-family: Arial;
    font-size: 80px;
    right: -85%;
    top: -40%;
}
.smallfont1
{
    position: relative;
    font-family: Arial;
    font-size: 18px;
    right: -85%;
    top:-300%;
}

.smallfont2
{
    position: relative;
    font-family: Arial;
    font-size: 18px;
    right: -85%;
    top:-235%;

}

html {
    max-width: 500px;
    margin-left: 15%;
    margin-right:5%;
    

}

