.btn
{
    font-size: 12px;
    border: none;
    font-family: "Calibri";
    color: white;
    background-color:black;
}

.cw
{
    position:absolute;
    left:50px;
    top: 250px;
    font-size: 18px;

}
.btn2
{
    color:white;
    background-color: dodgerblue;
    height: 20px;
    width: 65px;
    border-color:deepskyblue;
    border-style:solid
}
.btn3
{
    color:black;
    background-color: white;
    height: 20px;
    width: 65px;
    border-color:ghostwhite;
    border-style:solid
}
